<header>
    <h4 class="header-title"><strong>Orders</strong></h4>
</header>
<footer>
    <a href="https://github.com/nick-ramsay/rh-rails-project" target="_blank"><img src="images/GitHub_Logo_White.png" alt="Github Logo" width="60px" /></a>
</footer>
    