<header>
    <h4 class="header-title"><strong>Orders</strong></h4>
</header>
<main>
    <div class="order-container">
        <div class="order-title-container">
            <h5 class="order-title">Agency Name - Campaign, Address, Suburb</h5>
        </div>
        <div class="order-details-container">
            <div class="order-item-name">
                <span>Order Item Name</span>
            </div>
            <div class="order-item-functions">
                <span class="order-download-link">Download Artwork</span>
                <span class="order-line-break"> | </span>
                <span class="order-status-change">Change Status</span>
                <span class="order-line-break"> | </span>
                <span class="order-status">Current Order Status</span>
            </div>
        </div>
    </div>
</main>
<footer>
    <a href="https://github.com/nick-ramsay/rh-ruby-rails" target="_blank"><img src="images/GitHub_Logo_White.png" alt="Github Logo" width="60px" /></a>
</footer>
    