<header>
    <h4 class="header-title"><strong>Orders</strong></h4>
</header>
<main class="order-list">
    <div class="loader"></div>
</main>
<footer>
    <a href="https://github.com/nick-ramsay/rh-ruby-rails" target="_blank"><img src="images/GitHub_Logo_White.png" alt="Github Logo" width="60px" /></a>
</footer>
    