/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

 body {
    background-color: smokewhite;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.loader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0084AF;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  } /*Note: credit to W3 Schools for loader spinner logic: https://www.w3schools.com/howto/howto_css_loader.asp*/

header {
    background-color: #0084AF;
    color: white;
    padding: 0 15%;
    margin-bottom: 8px;
}

.header-title {
    margin: 0px;
    padding: 10px 0;
}

main {
    padding: 0 15%;
}

.order-container {
    box-shadow: 3px 3px 10px #8c8c8e;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 8px;
}

.order-title-container {
    background-color: #0084AF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    padding: 0 5px;
}

.order-title {
    padding: 5px 0 5px 0;
    margin: 0;
}

.order-details-container {
    color: #404041;
    padding: 5px;
    overflow: hidden;
}

.order-item-line {
    width: 100%;
    overflow: hidden;
    padding-top: 2px;
}

.order-item-name {
    float: left;
}

.order-item-functions {
    float: right;
}

.order-status {
    font-weight: bold;
    color: #02b7e2;
}

.order-status-change, .order-download-link {
    color: #404041;
    text-decoration: none;
}

.order-status-change:hover, .order-download-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.order-line-break {
    font-weight: 500;
}

main {
    margin-bottom: 30px;
}

footer {
    background-color: #0084AF;
    text-align: center;
    position: fixed;
    height: 25px;
    width: 100%;
    bottom: 0;
}

@media (max-width:768px) {

    .order-title-container {
        font-size: 10px;
    }

    .order-item-name {
        width: 100%;
        text-align: center;
    }

    .order-item-functions {
        width: 100%;
        float: left;
        text-align: center;
    }
   
}

@media (max-width:640px) {
    h5 {
        font-size: 10px;
    }

}
